<template>
  <div class="w-full flex justify-center py-2 bg-navbar text-lightgray">
    <router-link to="/" class="px-2">Home</router-link>
    <router-link to="/about" class="px-2">About</router-link>
    <router-link to="/contest" class="px-2">Contest</router-link>
    <router-link to="/player" class="px-2">Player Stats</router-link>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
