<template>
  <div>
    <table class="border border-collapse bg-lightgray text-darkgray">
      <thead>
        <th v-for="header in headers" :key="header" class="cursor-pointer border bg-accent text-white p-2 text-lg">
          <span @click="$emit('sort', header)">{{ header }}</span>
        </th>
      </thead>
      <tr v-for="(row, n) in stats" :key="n" class="hover:bg-accent-row-hover hover:text-black" :class="n % 2 ? 'bg-light-table-row text-black': 'bg-lightgray text-black' ">
        <td v-for="header in headers" :key="header" class="border px-2 text-center">
          {{ row[header] }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "StatsTable",
  props: {
    stats: Object
  },
  methods: {
  },
  computed: {
    headers() {
      if (!!!this.stats) {
        return []
      }
      return Object.keys(this.stats[0])
    },
  },
}
</script>
