<template>
  <div>
    <table class="border border-collapse bg-lightgray text-darkgray">
      <thead>
        <th class="border bg-darkgray text-lightgray p-1 text-right">Last</th>
        <th v-for="header in smallHeaders" :key="header" class="border bg-darkgray text-lightgray p-1">
          {{ header }}
        </th>
        <th v-for="header in largeHeaders" :key="header" class="border bg-darkgray text-lightgray p-1 hidden lg:table-cell">
          {{ header }}
        </th>
      </thead>
      <tr v-for="(row, n) in expanding_stats" :key="n" class="hover:bg-gray-100">
        <td class="text-right">{{ n }}</td>
        <td v-for="header in smallHeaders" :key="header" class="border px-2">
          {{ Number(row[header]).toFixed(2) }}
        </td>
        <td v-for="header in largeHeaders" :key="header" class="border px-2 hidden lg:table-cell">
          {{ Number(row[header]).toFixed(2) }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "SummaryStatsTable",
  props: {
    expanding_stats: Object
  },
  data() {
    return {
      smallHeaders: ['DKFP', 'VAL'],
      largeHeaders: ['PTS', '3P', 'AST', 'TRB', 'STL', 'BLK', 'TOV']
    }
  },
  methods: {
  },
}
</script>
