<template>
  <div>
    <div v-for="(draftable, n) in draftables" :key="n">
      {{ draftable.displayName }} {{ draftable.position }} {{ draftable.salary }} {{ draftable.displayName }}
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "Contest",
  data() {
    return {
      draftables: []
    }
  },
  created() {
    this.getDraftables()
  },
  methods: {
    getDraftables() {
      axios.get('/api/dk/draftables').then((resp) => this.draftables = resp.data)
    }
  }
}
</script>
