<template>
  <div class="flex flex-col items-center">
    <div>
      <div class="flex items-center my-4">

        <div>Player:</div>
        <input v-model="searchName" class="border border-gray-300 rounded-md shadow focus:outline-none py-1 px-2 mx-4 text-darkgray" type="text">
        <button @click="search()" class="bg-accent text-white rounded shadow py-1 px-2 hover:bg-accent-hover">Search</button>

      </div>
    </div>

    <div v-if="isLoading" class="absolute inset-x-0 h-screen bg-darkgray flex items-center justify-center">
      <div class="h-48 w-48 border border-top-8 border-gray-900 loader animate-spin"></div>
    </div>

    <div v-else-if="!!currentPlayer.name" class="flex w-full bg-basketball text-darkgray items-center justify-center">

      <div class="w-1/3 bg-white m-12 border-2 border-black pt-2">
        <div class="font-bold text-xl pb-4 text-darkgray text-center">Player Info</div>
        <div class="flex xl:flex-row flex-col items-center m-2">
          <img class="w-32 object-contain" :src="currentPlayer.image">
          <div class="flex flex-col justify-center items-center">
            <img class="w-24 object-contain" :src="currentPlayer.teamImage">
            <div class="flex 2xl:flex-row flex-col my-2">
              <div class="flex flex-col mx-4">
                <div><b>Name:</b> </div>
                <div>{{ currentPlayer.name }}</div>
              </div>
              <div v-if="!!currentPlayer.dk" class="flex flex-col mx-4">
                <div><b>Position:</b> </div>
                <div>{{ currentPlayer.dk.position }}</div>
              </div>
              <div v-if="!!currentPlayer.dk" class="flex flex-col mx-4">
                <div><b>DK Salary:</b> </div>
                <div>${{ currentPlayer.dk.salary }}</div>
              </div>
            </div>
            <div v-if="!!!currentPlayer.dk" class="my-4 text-center">
              Cannot find player in today's DK contest
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-1/3 bg-white m-12 bg-white border-2 border-black justify-center items-center p-2">
        <div class="font-bold text-xl pb-4 text-darkgray">Recent Performance</div>
        <SummaryStatsTable :expanding_stats="currentPlayer.expanding_stats"></SummaryStatsTable>
      </div>
      <div class="flex w-1/3 bg-white m-12 border-2 border-black justify-center items-center">News</div>
    </div>

    <div v-if="!!currentPlayer.stats" class="flex mt-12">
      <StatsTable :stats="currentPlayer.stats" @sort="sortStats"></StatsTable>
    </div>
  </div>
</template>

<script>
import StatsTable from '@/components/StatsTable.vue'
import SummaryStatsTable from '@/components/SummaryStatsTable.vue'
import axios from 'axios'
import useAPI from '@/composition/useAPI'
export default {
  name: "Player",
  components: {StatsTable, SummaryStatsTable},
  setup() {
    const { API } = useAPI()
    return { API }
  },
  data() {
    return {
      players: {},
      currentPlayer: {
        ID: "",
        name: "",
        image: "",
        teamImage: "",
        stats: null,
        expanding_stats: null,
        dk: null
      },
      searchName: "James Harden",
      sortDir: 1,
      sortColumn: "G",
      isLoading: false,
    }
  },
  created() {
    this.getPlayers()
  },
  methods: {
    resetCurrentPlayer() {
      this.currentPlayer = {
        ID: "",
        name: "",
        image: "",
        teamImage: "",
        stats: null,
        expanding_stats: null,
        dk: null
      }
    },
    getPlayers() {
      this.API.get('/players').then((resp) => this.players = resp.data)
    },
    search() {
      this.sortColumn = ''
      this.isLoading = true
      this.resetCurrentPlayer()
      this.currentPlayer.name = this.searchName
      this.currentPlayer.ID = this.playerID(this.currentPlayer.name)
      this.currentPlayer.image = `https://www.basketball-reference.com/req/202102181/images/players/${this.currentPlayer.ID}.jpg`
      let statsPromise = this.API.get(`/stats/player/gamelogs?player_id=${this.currentPlayer.ID}&year=2021`)
        .then((resp) => {
          this.currentPlayer.stats = resp.data.logs
          this.currentPlayer.expanding_stats = resp.data.expanding
        })
      let dkPromise = this.API.get(`/dk/player?player=${this.currentPlayer.name}`)
        .then((resp) => {
          this.currentPlayer.dk = resp.data
        })
      Promise.all([statsPromise, dkPromise])
        .then(() => {
          this.currentPlayer.teamImage = `https://d2p3bygnnzw9w3.cloudfront.net/req/202103101/tlogo/bbr/${this.currentPlayer.stats[0]['Tm']}-2021.png`
          for (var row of this.currentPlayer.stats) {
            if (!!this.currentPlayer.dk.salary) {
              row['VAL'] = (1000*row['DKFP']/this.currentPlayer.dk.salary).toFixed(2)
            }
            else {
              row['VAL'] = ''
            }
          }
          for (var n in this.currentPlayer.expanding_stats) {
            var row = this.currentPlayer.expanding_stats[n]
            if (!!this.currentPlayer.dk.salary) {
              row['VAL'] = (1000*row['DKFP']/this.currentPlayer.dk.salary).toFixed(2)
            }
            else {
              row['VAL'] = ''
            }
          }
        })
        .finally(() => this.isLoading = false)
    },
    playerName(playerID) {
      return Object.keys(this.players).find(key => this.players[key].toLowerCase() === playerID.toLowerCase());
    },
    playerID(playerName) {
      return this.players[playerName];
    },
    sortStats(column) {
      if (this.sortColumn == column) {
        this.sortDir = this.sortDir * -1
      }
      else {
        this.sortDir = 1
        this.sortColumn = column
      }
      this.currentPlayer.stats.sort((a, b) => {
        return this.sortDir*(b[column] >= a[column] ? 1 : -1)
      })
    }
  }
}
</script>

<style scoped>
.loader {
  border: 16px solid #d6d6d6; /* Light grey */
  border-top: 16px solid #7a7a7a; /* Blue */
  border-radius: 50%;
}
</style>
